%ul#nav-mobile.side-nav.fixed
  %li.user-panel.parent-list-item
    .indigo
      = render partial: 'widgets/user'
      = render partial: 'shared/search_box'

  %li.parent-list-item
    %ul.collapsible{ data: { collapsible: 'expandable' } }
      %li
        %a.collapsible-header.indigo.active
          %ng-md-icon.nav-items-icon{icon: 'map', style: 'fill: white'}
          %span.badge
            %ng-md-icon.more{icon: 'expand_more', style: 'fill: white'}
            %ng-md-icon.less{icon: 'expand_less', style: 'fill: white'}
          = t 'map.title'
        .collapsible-body
          = render partial: 'shared/nav_components/map_elements'

      %li
        .collapsible-header.indigo
          %ng-md-icon.nav-items-icon{icon: 'chat', style: 'fill: white'}
          %span.badge
            %ng-md-icon.more{icon: 'expand_more', style: 'fill: white'}
            %ng-md-icon.less{icon: 'expand_less', style: 'fill: white'}
          = t 'chat.title'
        .collapsible-body

  %div.adwords-area
    GOOGLE ADSENSE