!!!
%html
  %head
    %title Kurort
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.layout-row{layout:'row','ng-app' => 'app', ng: {controller: 'UIController as uiCtrl'}}
    %header
      %nav.top-nav
        .container
          .nav-wrapper
            %a.button-collapse.top-nav.full.hide-on-large-only{ href: '#', data: { activates: 'nav-mobile' } }
              %i.material-icons menu
            %a.page-title Kurort
      .container

      = render partial: 'shared/left_nav'
    -#=render partial: 'shared/right_bar'
    .layout-column.flex{layout:"column"}
      = yield
